In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import sys

In [3]:
account_raw = pd.read_excel('Data/Labelmaster Account Data.xlsx')
contact_raw = pd.read_excel('Data/Labelmaster Contact Data.xlsx')
family_raw = pd.read_excel('Data/Labelmaster Family Data.xlsx')

In [4]:
sales_raw1=pd.read_excel('Data/Labelmaster Sales Data.xlsx',sheet_name=0)
sales_raw2=pd.read_excel('Data/Labelmaster Sales Data.xlsx',sheet_name=1)

In [5]:
print("Row count -> sheet1:{}, sheet2:{}".format(len(sales_raw1.index),len(sales_raw2.index)))

Row count -> sheet1:991570, sheet2:844916

In [6]:
sales_combine_raw = pd.concat([sales_raw1, sales_raw2], ignore_index=True)

In [7]:
sales_combine_raw=sales_combine_raw.sort_values(['Customer No','Posting Date'],ascending=(True,True))

In [8]:
sales_combine_raw['Posting Date']=pd.to_datetime(sales_combine_raw['Posting Date']).dt.date

In [9]:
sales_combine_raw.columns=(c.replace(' ','_') for c in sales_combine_raw.columns)

In [10]:
len(sales_combine_raw)

1836486

In [11]:
print("Account unique:{},Sales Customer Unique:{}".format(len(account_raw.AccountNumber.dropna().unique()),len(sales_combine_raw.Customer_No.dropna().unique())))

Account unique:150663,Sales Customer Unique:92944

In [12]:
Total_Customer_Sales = len(sales_combine_raw.Customer_No.dropna().unique())
print(Total_Customer_Sales)

92944

In [13]:
sales_combine_raw.loc[sales_combine_raw['Customer_No']=='0000010']

,Customer_No,Item,Quantity_Ordered,Line_Item_Amount,Posting_Date,Ship-to_State,Ship-to_ZipCode,Department_Dim,Department_Dim_Description,Product_Group_Code,Product_Group_Description,Order_Method,Location_Code
138987,0000010,SL20R,2,128.20,2016-04-27,IL,60510,503,Labels,50305.0,Air Labels,LM-PH CCS,10
138988,0000010,SHIPPING,1,10.50,2016-04-27,IL,60510,699,Contra Dimension,NaN,NaN,LM-PH CCS,10
198692,0000010,Z-PSR2,2,45.00,2016-06-08,SC,29605,511,Placards,51102.0,Worded Placards,LM-EMAIL,10
198693,0000010,SHIPPING,1,11.73,2016-06-08,SC,29605,699,Contra Dimension,NaN,NaN,LM-EMAIL,10
259663,0000010,ZEZ131325,2,97.50,2016-07-29,IL,60510-1449,511,Placards,51111.0,Pre-Printed Placards,LM-EMAIL,10
259664,0000010,SL20R,3,192.30,2016-07-29,IL,60510-1449,503,Labels,50305.0,Air Labels,LM-EMAIL,10
330037,0000010,HSN1700,6,166.80,2016-10-18,SC,29605,503,Labels,50304.0,International Labels,LM-EMAIL,10
431980,0000010,Z-PSR52,1,23.75,2017-02-09,SC,29605,511,Placards,51102.0,Worded Placards,LM-EMAIL,10
431981,0000010,SHIPPING,1,11.80,2017-02-09,SC,29605,699,Contra Dimension,NaN,NaN,LM-EMAIL,10
796504,0000010,Z-PSR2,3,67.50,2017-09-08,SC,29605,511,Placards,51102.0,Worded Placards,LM-EMAIL,10
873143,0000010,SL20R,3,192.30,2018-07-31,IL,60510,503,Labels,50305.0,Air Labels,LM-EMAIL,10
873144,0000010,HSN1700,2,63.20,2018-07-31,IL,60510,503,Labels,50304.0,International Labels,LM-EMAIL,10
873145,0000010,BLT68,0,0.00,2018-07-31,IL,60510,503,Labels,50300.0,Warehouse Labels,LM-EMAIL,10
815375,0000010,SL20R,0,0.00,2018-08-01,IL,60510,503,Labels,50305.0,Air Labels,LM-EMAIL,10
815376,0000010,HSN1700,0,0.00,2018-08-01,IL,60510,503,Labels,50304.0,International Labels,LM-EMAIL,10
815377,0000010,BLT68,8,298.40,2018-08-01,IL,60510,503,Labels,50300.0,Warehouse Labels,LM-EMAIL,10

In [14]:
print("Sales -> min:{},max:{}\nAccount -> min:{},max:{}".format(min(sales_combine_raw['Posting_Date']),max(sales_combine_raw['Posting_Date']),min(account_raw['CreatedDate']),max(account_raw['CreatedDate']),))

Sales -> min:2016-01-01,max:2022-01-25
Account -> min:2003-09-04 17:41:37,max:2022-01-27 19:00:05

In [15]:
sales_consolidated = sales_combine_raw.groupby(['Customer_No','Posting_Date'])['Quantity_Ordered','Line_Item_Amount'].sum().reset_index()

C:\Users\mohno\AppData\Local\Temp/ipykernel_3460/3371876655.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sales_consolidated = sales_combine_raw.groupby(['Customer_No','Posting_Date'])['Quantity_Ordered','Line_Item_Amount'].sum().reset_index()

In [16]:
#sales_combine_raw['customer_time']=sales_combine_raw['Customer_No'].astype(str)+sales_combine_raw['Posting_Date'].astype(str)

In [17]:
sales_consolidated['index1']=np.arange(1,len(sales_consolidated)+1)

In [18]:
sales_consolidated['index2']=np.arange(len(sales_consolidated))

In [19]:
#Main Sales data
sales_consolidated.head(50)

,Customer_No,Posting_Date,Quantity_Ordered,Line_Item_Amount,index1,index2
0,.,2021-03-10,705,4358.10,1,0
1,.,2021-03-11,11,124.08,2,1
2,.,2021-03-15,3,133.13,3,2
3,.,2021-03-16,44,559.78,4,3
4,.,2021-03-31,-749,-4917.88,5,4
5,0000001,2016-11-04,9,258.77,6,5
6,0000001,2016-11-17,-9,-258.77,7,6
7,0000010,2016-04-27,3,138.70,8,7
8,0000010,2016-06-08,3,56.73,9,8
9,0000010,2016-07-29,5,289.80,10,9
10,0000010,2016-10-18,6,166.80,11,10
11,0000010,2017-02-09,2,35.55,12,11
12,0000010,2017-09-08,3,67.50,13,12
13,0000010,2018-07-31,5,255.50,14,13
14,0000010,2018-08-01,8,298.40,15,14
15,0000133,2016-10-06,15,26.05,16,15
16,0000133,2016-10-17,1,63.09,17,16
17,0000133,2016-10-20,1,21.39,18,17
18,0000133,2016-10-24,1,4.38,19,18
19,0000133,2018-07-06,35,890.40,20,19
20,0000145,2016-01-26,141,1288.65,21,20
21,0000145,2016-03-31,115,705.67,22,21
22,0000145,2016-05-27,2,50.96,23,22
23,0000145,2016-06-03,2,41.15,24,23
24,0000145,2016-06-13,3,36.74,25,24
25,0000145,2016-08-04,31,794.40,26,25
26,0000145,2016-08-30,4,88.94,27,26
27,0000145,2016-08-31,969,367.84,28,27
28,0000145,2016-10-04,32,0.00,29,28
29,0000145,2016-11-07,2,331.94,30,29
30,0000145,2016-12-02,121,1050.50,31,30
31,0000145,2017-01-10,77,2589.98,32,31
32,0000145,2017-02-07,7,183.26,33,32
33,0000145,2017-02-09,7,306.03,34,33
34,0000145,2017-02-10,11,249.73,35,34
35,0000145,2017-02-16,2,251.40,36,35
36,0000145,2017-05-25,14,262.54,37,36
37,0000145,2017-05-31,5,56.02,38,37
38,0000145,2017-06-15,22,0.00,39,38
39,0000145,2017-06-16,7,276.25,40,39
40,0000145,2017-07-13,2,58.09,41,40
41,0000145,2017-08-02,10,443.23,42,41
42,0000145,2017-08-08,3,228.72,43,42
43,0000145,2017-08-21,2,64.54,44,43
44,0000145,2017-10-25,26,941.54,45,44
45,0000145,2017-11-07,28,213.55,46,45
46,0000145,2017-11-09,9,0.00,47,46
47,0000145,2017-11-10,3,105.95,48,47
48,0000145,2017-11-14,22,476.42,49,48
49,0000145,2017-11-27,1001,2721.70,50,49

In [20]:
sales_combine_previous=sales_consolidated

In [21]:
sales_combine_raw_next=sales_consolidated[['Customer_No','Posting_Date','index2']].copy()

In [22]:
sales_new=sales_combine_previous.merge(sales_combine_raw_next,left_on=['Customer_No','index1'],right_on=['Customer_No','index2'],how='left')

In [23]:
sales_new=sales_new.rename(columns={'Posting_Date_x': 'PreviousDate', 'Posting_Date_y': 'CurrentDate'})

In [24]:
sales_new = sales_new.drop(columns=['index1','index2_x','index2_y'])

In [25]:
sales_new.loc[sales_new['CurrentDate'].isnull(),'CurrentDate'] = pd.to_datetime('today')

In [26]:
sales_new['CurrentDate']=pd.to_datetime(sales_new['CurrentDate']).dt.date

In [27]:
sales_new['Difference'] = sales_new['CurrentDate']-sales_new['PreviousDate']

In [28]:
sales_new['Difference'] = sales_new['Difference']/np.timedelta64(1,'D')

In [29]:
sales_new.loc[sales_new['Difference'] <= 31,'Difference'] = 30

In [30]:
sales_new['RollingSum']=sales_new.groupby('Customer_No')['Difference'].cumsum()

In [31]:
sales_new['NoofTransaction']=sales_new.groupby('Customer_No').cumcount()+1

In [32]:
sales_new['AveragePurchasingPeriod']=sales_new['RollingSum']/sales_new['NoofTransaction']

In [33]:
sales_new.loc[sales_new['Customer_No']=='0000010']

,Customer_No,PreviousDate,Quantity_Ordered,Line_Item_Amount,CurrentDate,Difference,RollingSum,NoofTransaction,AveragePurchasingPeriod
7,0000010,2016-04-27,3,138.70,2016-06-08,42.0,42.0,1,42.000000
8,0000010,2016-06-08,3,56.73,2016-07-29,51.0,93.0,2,46.500000
9,0000010,2016-07-29,5,289.80,2016-10-18,81.0,174.0,3,58.000000
10,0000010,2016-10-18,6,166.80,2017-02-09,114.0,288.0,4,72.000000
11,0000010,2017-02-09,2,35.55,2017-09-08,211.0,499.0,5,99.800000
12,0000010,2017-09-08,3,67.50,2018-07-31,326.0,825.0,6,137.500000
13,0000010,2018-07-31,5,255.50,2018-08-01,30.0,855.0,7,122.142857
14,0000010,2018-08-01,8,298.40,2022-02-24,1303.0,2158.0,8,269.750000

In [34]:
df=sales_new.groupby(['Customer_No'],sort=False)['NoofTransaction'].max().reset_index()

In [35]:
df.loc[df['NoofTransaction']==1]

      Customer_No  NoofTransaction
25        0000730                1
26        0000748                1
29        0000868                1
38        0001293                1
52        0001588                1
...           ...              ...
92938     7050073                1
92939     7050074                1
92940     7050077                1
92941     7050078                1
92942     7050079                1

[56556 rows x 2 columns]

In [ ]:
#sales_account1 = sales_account.groupby('Customer No').agg(NoofTransactions=('Customer No', 'count'))